@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Century Gothic';
    src: url('/fonts/CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}